/**
* @name Leisure Pink
* @author Skyluf
 * @version 1.0
 * @description A gradient theme which is comfy to the eyes!
*/
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
:root {
--background-image: url('https://i.imgur.com/ES2p5eF.png');
--background-image-blur: 100px;
--background-image-size: cover;
--background-image-position: center;
--popout-modal-image: url('https://i.imgur.com/XrNjPUd.png');
--popout-modal-blur: 10px;
--popout-modal-size: cover;
--popout-modal-position: center;
--home-button-image: url('https://discordstyles.github.io/FrostedGlass/assets/discord.svg');
--home-button-size: cover;
--home-button-position: center;
--serverlist-brightness: 0.35;
--left-brightness: 0.2;
--middle-brightness: 0.3;
--right-brightness: 0;
--popout-modal-brightness: 0.15;
--gradient-primary: 255,109,109;
--gradient-secondary: 197,74,83;
--gradient-direction: 258deg;
--tint-colour: 255,73,225;
--tint-brightness: 0.05;
--window-padding: 3px;
--window-roundness: 1px;
--scrollbar-colour: #ffffff0d;
--link-colour: #00b0f4;
--show-gift-gif-buttons: no-repeat;
--font: 'Whitney';
--update-notice-1: none;
--HSL-server-icon-size: 40px;
--HSL-server-spacing: 22px;
}